/*
Nombre del tema: mi primer tema
URI del tema: https://wordpress.org/themes/mi_primer_tema/
Autor: Isabel Muñoz
URI del autor: https://wordpress.org/
Descripción: Mi primer tema creado en wordpress desde cero.
Licencia: GNU General Public License v2 o posterior
URI de licencia: http://www.gnu.org/licenses/gpl-2.0.html
Dominio de texto: mi primer tema
*/
